<div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10">
    <div class="text-center">
        <h2 class="mt-3 text-3xl font-bold text-gray-900">
            Write something
        </h2>
    </div>
    <form class="mt-8 space-y-3 new_blog_form">
        <div class="grid grid-cols-1 space-y-2">
            <label class="text-sm font-bold text-gray-500 tracking-wide">Title</label>
            <input class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
                id="title">
        </div>
        <div class="grid grid-cols-1 space-y-2">
            <label class="text-sm font-bold text-gray-500 tracking-wide">Content</label>
            <div class="flex items-center justify-center w-full">
                <input
                    class="text-base p-2 border border-gray-300 focus:outline-none focus:border-indigo-500 rounded-lg border-4 w-full  "
                    id="content">
            </div>
        </div>
        <div>
            <button type="submit"
                class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4  rounded-full tracking-wide
                                    font-semibold focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
                Submit
            </button>
        </div>
    </form>
</div>

<style>
    .has-mask {
        position: absolute;
        clip: rect(10px, 150px, 130px, 10px);
    }
</style>
<script src="/js/addForm.js"></script>